<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">404 Not Found!</h1>
    <%= link_to "Back to Index",root_path, class: "btn btn-secondary"%> 
  </div>
</div>