<div class="jumbotron">
  <h1 class="display-4">500 Internal Server Error</h1>
  <h3 class="lead">We're sorry, but something went wrong.</h3>
  <hr class="my-4">
  <%= link_to "Back to Index",root_path, class: "btn btn-secondary"%> 
</div>
