body {background-color:#f0f0f0;}
.bg-dark {color: #000000}
.navbar-brand {
  color: #FF8800 !important;
  font-size: 40px;
}
.option-bg {background-color:#FF8800;}
.nav-link {
  background-color:#FF8800; 
  color: #000000;
  border-radius: 5px;
}
.custom-select{
  background-color:#000000 !important;
  display: inline-block;
  color: #f0f0f0;
  width: 70%;
  border-color: #FF8800
}
#assort {background-color:#FF8800 !important;}
#assort a {color: #f0f0f0;}
.box{
  background-color:#000000;
  font-size: 30px;
  border-radius: 50%;
}
.card{
  margin-left: 5.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.card-btn {
  background-color:#000000; 
  color: #FF8800;
  border-radius: 5px;
}

#task-part{
  background-color:#000000; 
}
